<h1>People:</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name.capitalize %> |
      <% if user_signed_in? && current_user.id == user.id %>
        <%= link_to "Add Story", new_user_story_path(user.id) %> |
      <% end %>
      <%= link_to "View User's Home Page", user_path(user.id) %><br><br></li>
  <% end %>
</ul>
