<h1>People:</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name.capitalize %> |
      <%= link_to "Add Story", new_user_story_path(user.id) %> |
      <%= link_to "View User's Home Page", user_path(user.id) %><br><br></li>
  <% end %>
</ul>
