<div class="title-content">
  <br><h1>About Us:</h1><br>

  <p class="text">Cool Story, Bro is an interactive timeline visualizer where you can read interesting stories, and bring your own to life through maps of where they happened. Share something sentimental, something awful (or anything in between) and have fun finding out what else happened at the places you love!<br><br></p>

  <center><p class="text">Made at the Flatiron School in New York, NY by:</p>
</div>

  <div class="about-container">
    <div class="about-block">
      <h3>Adam Czerepinski</h3><br>
      <div class="icons-block">
        <a href="https://www.linkedin.com/in/adamcz"><img src="https://openmerchantaccount.com/img/csb_twitter.png" height="39" width="39"></a>
        <a href="https://twitter.com/adamczerepinski"><img src="https://openmerchantaccount.com/img/csb_in.png" height="42" width="42"></a>
        <a href="https://github.com/aczerepinski"><img src="https://openmerchantaccount.com/img/csb_github.png" height="35" width="35"></a>
      </div>
    </div>

      <div class="about-block">
        <h3>Stefania Sicurelli</h3><br>
        <div class="icons-block">
          <a href="https://www.linkedin.com/in/stefaniasicurelli"><img src="https://openmerchantaccount.com/img/csb_twitter.png" height="39" width="39"></a>
          <a href="http://www.twitter.com/stef_sic"><img src="https://openmerchantaccount.com/img/csb_in.png" height="42" width="42"></a>
          <a href="https://github.com/stefsic"><img src="https://openmerchantaccount.com/img/csb_github.png" height="35" width="35"></a>
        </div>
      </div>

      <div class="about-block">
        <h3>Evan Rosse</h3><br>
        <div class="icons-block">
          <a href="https://www.linkedin.com/pub/evan-rosse/31/1a2/363"><img src="https://openmerchantaccount.com/img/csb_twitter.png" height="39" width="39"></a>
          <a href="https://twitter.com/flatironschool"><img src="https://openmerchantaccount.com/img/csb_in.png" height="42" width="42"></a>
          <a href="https://github.com/evros001"><img src="https://openmerchantaccount.com/img/csb_github.png" height="35" width="35"></a>
        </div>
      </div>
    </div>
