<h1>About Us</h1>

<h2>Cool Story, Bro<h2>

<p><h4>Cool Story, Bro is a timeline visualizer and interactive platform for bringing your favorite stories to life through customizable maps. It was made at the Flatiron School in New York, NY by the following cool kids:</p>

<div class="row">
  <div class="col-xs-4">
    <h3>Adam Czerepinski</h3>
    <h4>https://github.com/aczerepinski<br>
    https://www.linkedin.com/in/adamcz<br>
    https://twitter.com/adamczerepinski<br>
    Stories</h4>
  </div>

  <div class="col-xs-4">
    <h3>Stefania Sicurelli</h3>
    <h4>http://www.twitter.com/stef_sic<br>
    https://github.com/stefsic<br>
    https://www.linkedin.com/in/stefaniasicurelli<br>
    Stories</h4>
  </div>

  <div class="col-xs-4">
    <h3>Evan Rosse</h3>
    <h4>https://github.com/evros001<br>
    https://www.linkedin.com/pub/evan-rosse/31/1a2/363<br>
    https://twitter.com/flatironschool<br>
    Stories</h4>

  </div
</div>
