<div class="story-title">
  <h1 class="btn-wrapper">Welcome!</h1>
    <p>Cool Story, Bro is an interactive story visualizer where you can create and explore cool stories.</p>
    <p>Click on any <img src="https://openmerchantaccount.com/img/quote_marker.png" id="location-img"> to reveal details about the cool story you are viewing. To explore our cool stories and cool people, use the navigation bar on the left.</p>

  <div class="btn-wrapper">
    <div class="btn btn-custom" role="button" id="hide-story">GOT IT!</div>
  </div>
</div>

<div id="content-container">
  <div id="map-container">
    <div id="map-canvas">
    </div>
  </div>
</div>

