<div class="title-content">

  <h1>All the Stories:</h1>
  <ul>
    <% @stories.each do |story| %>
      <li><%= link_to story.name, user_story_path(story.user_id, story.id) %> - created by <%= story.user.name %><br>
      <%= story.description %>
      </li>
    <% end %>
  </ul>
</div>

  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "Create New Story", new_user_story_path(@user.id) %>
  <% end %>
