<br>
<center>
<div class="story-steps">
<h2><span class="active-step">Step 1</span> &nbsp &nbsp <span class="inactive-step">Step 2 &nbsp &nbsp Step 3</span></h2>

<h1>Begin Your Story!</h1><br>

<p>Give your story a cool title and summary. Your summary can be anything you want –<br> short, long, sentimental, awful or anything in between.</p><br>

<p>Just, please make sure it's cool.</p><br>

<%= render 'form' %>
</div>

<p>In the next step, you'll add some cool locations.</p>
</center>
