/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

/*possible font choices*/
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Roboto', sans-serif*/


body {
  background-color: #fff;
  margin-top: 0;
}

h1, h2 {
  font-family: 'Lobster', cursive;
}

h3 {
  font-family: 'Lobster', cursive;
}

.alert {
  color: #ff0000;
}

.text {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #52dafb;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*navbar*/

#nav-container {
  display: block;
  float: left;
  height: 100vh;
  width: 20%;
  background-color: #000;
  z-index: 99;
  font-family: 'Nunito', sans-serif;
}

#logo-img {
  margin-top: 20px;
  margin-bottom: -30px;
  height: 50px;
}

.navbar-header {
  font-family: 'Lobster', cursive;
  font-size: 95%;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  display: block;
}

.blurb {
  margin-top: 50px, 15%, 0, 15%;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin-bottom: 10px;
}

.opacity {
  opacity: 0.4;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 0, 0, 5px 0;
}

#map-canvas {
  height: 100vh;
  max-width: none;
  margin: 0;
  padding: 0;
}

.info_content {
  color: #333;
}

/*form overlay on map*/

.register-and-map {
  position: relative;
}

.login_signup {
  position: absolute;
  margin-left: 50vw;
  margin-top: 30vh;
  z-index: 100;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
}

.navbar-brand {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav ul {
  border: 1px solid #444;
}

.navbar-nav li {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #444;
}

.nav-text {
  font-family: 'Nunito', sans-serif;
  display: block;
  float: left;
  max-width: 200px;
  margin-top: 300px;
  margin-left: -240px;
  font-size: 1em;
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #52dafb;
  background-color: #111;
}

.navbar-default .navbar-nav > li > a {
  font-size: 25px;
}

.nav-text p, .nav-text h2, .nav-text h1, .nav-text a:first-of-type {
  margin-left: 30px;
}

.navbar-default {
  background-color: #000;
  border-bottom: none;
  border-color: #000;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

/*editing/updating/listing styles*/

.row-container {
  display: inline-block;
}

/*about page styling*/

.title-content {
  margin-left: 340px;
  margin-right: 60px;
}

.about-container {
  display: block;
  text-align: center;
  margin-right: 50px;
}

.about-block {
  display: inline-block;
  padding: 50px;
}

.icons-block {
  display: inline-block;
}

/*fix margin top*/
h1, .h1,
h2, .h2,
h3, .h3 {
  margin: 0px
}

.blurb {
  font-size: 1.2em;
  margin-bottom: 25px;
}

/*edit update boxes over map*/
.edit_update_container {  
  position: absolute;
  width: 700px;
  height: 550px;
  margin-left: 10%;
  z-index: 1;
  background-color: white;
  top: 50%;
  left: 50%;
  border: 1px solid #000;
-webkit-transform: translateX(-50%) translateY(-50%);
 -moz-transform: translateX(-50%) translateY(-50%);
 -ms-transform: translateX(-50%) translateY(-50%);
 -o-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
}
