/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
* {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #fff;
}

h1 {
  margin-top: 0px;  
}

/*nav logo*/

#logo_img {
  height: 45px;
  margin-bottom: 5px;
  margin-left: 40%;
}

/* blue color **** #52dafb */

.opacity {
  opacity: 0.4;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 0px, 0px, 5px 0px;
}

#map-canvas {
  height: 100vh;
  max-width: none;
  margin: 0;
  padding: 0;

}

.info_content {
  color: #333;
}

/*form overlay on map*/

.register-and-map {
  position: relative;
}

.login_signup {
  position: absolute;
  margin-left: 50vw;
  margin-top: 30vh;
  z-index: 100;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
}

#nav-container {
  display: block;
  float: left;
  height: 100vh;
  width: 15%;
  /*background-color: #f8f8f8;*/
  background-color: black;
  z-index: 99;
  border-left: white;
  border-right: white;
  border-bottom: white;
}

div.navbar-header {
  width: 100%;
  margin: 20px 0px;
}

.navbar-brand {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  color: white; 
}

.navbar-nav {
  width: 100%
}

.navbar-nav li {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  border-bottom: 3px solid #777;
}


.nav-text {
  display: block;
  float: left;
  max-width: 200px;
  margin-top: 300px;
  margin-left: -240px;
  font-size: 1em;
  color:white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #52dafb;
}

.nav-text p, .nav-text h2, .nav-text h1, .nav-text a:first-of-type {
  margin-left: 30px;  
}

.navbar-default {
  background-color: black;
  border-bottom: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

/*editing/updating/listing styles*/

.row-container {
  display: inline-block;
}


/*possible font choices*/
/*Nunito, Yanone Kaffeesatz, brie sarif, Cabin Condensed, Alfa Slab One, Lobster*/



