.index{
  margin-left: 10px;  
}

.index-list {
 list-style-type: none;
}

.index-list li {
  border-bottom: 1px #BBB solid;
  padding: 4px 0 4px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.index-description {
  color: #777;
  font-family: 'Open-Sans', sans-serif;
}