.index{
  margin-left: 10px;  
}

.index-list {
 list-style-type: none;
 padding: 0px;
}

.index-list li {
  border-bottom: 1px #BBB solid;
  padding: 4px 0 4px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.index-description {
  color: #777;
  font-family: 'Nunito', sans-serif;
}

.users_index {
  margin: 0px 0px 0px 400px;
  padding-top: 10px;
}

.users_index h1{
  margin: 10px 0px 10px 0px 
}
