<div id="content-container">
  <div class="edit_update_container">
    <br>
    <center>
    <div class="story-steps">
    <h2><span class="inactive-step">Step 1</span> &nbsp &nbsp <span class="active-step">Step 2</span> &nbsp &nbsp <span class="inactive-step">Step 3</span></h2>

    <h1>Where did the story take place?</h1><br>

    <p>Your story's locations and what you write about them make the story cool.<br>
      The locations and descriptions that you add will appear as <img src="https://openmerchantaccount.com/img/quote_marker.png" id="location-img"> on the map.<br><br>

    Give your story its first location.</p><br>

    <%= render 'form' %>
    </div>

    <p>In the next step you will have the option to review your story,<br> manage its locations, and share it with the world!</p>
    </center>
  </div>

  <div id="map-container" class="opacity">
    <div id="map-canvas">
    </div>
  </div>
</div>
